*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #E5E5E5;
}
body{
    margin-top: 0;
}
.wrapper{
    background-color: #EEEEEE;
    width: 90%;
    margin: 0 auto;
    font-family: Roboto,sans-serif;
}
/* Верхнее меню*/
figure .left-nav{
    margin: 0;
}
.logo_1{
    z-index: 1;
    margin: 1vh auto 0 4vw;
}
.logo_2{
    z-index: 2;
    margin: 1vh auto 0 4vw;
}
.logo img{
    position: absolute;
}
.nav{
    background-color: #007765;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    height: 100px;
}
.left-nav{
    width: 49%;
}
.right-nav{
    width: 49%;
}
.right-nav p{
    margin: 0 5em 0 5em;
    display: block;
}
h1{
    margin: 0;
    padding-top: 0.5em;
    font-size: 2.8em;
    color: #007765;
    text-align: center;
}
ul{
    text-align: center;
    margin-top: 5vh ;
}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
/**/
figure{
    margin: 0;
    padding: 0;
}
/**/
.head{
    background-image: url("/images/head.png");
    height: 65vh;
    background-repeat: no-repeat;
}
.head h2{
    position: absolute;
    top: 40vh;
    left: 28vw;
    margin: auto;
    color: #FFFFFF;
    font-size: 4.5em;
}
/*Боди текст-проблем*/
.text-problem{
    margin: auto 4.43% 3.5em 4.51%;
}
p{
    font-size: 1.4em;
    margin: 1.6rem;
}
.body-img{
    background-image: url("/images/body_1.png");
    height: 483px;
    background-repeat: no-repeat;
}
.body-img h2{
    position: relative;
    top: 28vh;
    margin: auto 12vw auto 12vw;
    font-size: 2em;
    color: #FFFFFF;
    font-style: italic;
    text-align: center;
}
.intro-pied{
    background: #FFFFFF;
    padding-bottom: 2.5em;
}
#PPC-logo{
    float: left;
    margin-right: 2vw;
}
.command{
    background: #EEEEEE;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    padding-bottom: 10vh;
}
h5{
    font-size: 1.5em;
    color: #007765;
}
h6{
    font-size: 1rem;
    font-style: italic;
    margin-top: -4vh;
}
.footer{
    background: #333333;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 7vh 15vw 7vh 13vw;
    text-align: center;
}