html{
    background-color: #E5E5E5;
}
body{
    margin-top: 0;
}
.wrapper{
    background-color: #EEEEEE;
    width: 90%;
    margin: 0 auto;
    font-family: Roboto,sans-serif;
}
/* Верхнее меню*/
figure .left-nav{
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
}
.logo_1{
    z-index: 1;
    margin: 1vh auto 5vh 3vw;
}
.logo_2{
    z-index: 2;
    margin: 1vh auto 5vh 3vw;
}
.logo img{
    position: absolute;
}
.nav{
    background-color: #007765;
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
}
.left-nav{
    width: 49%;
}
.right-nav{
    width: 49%;
}
.right-nav p{
    margin: 0 5em 0 5em;
    display: block;
}
h1{
    margin: 0.5em 0 0 0;
    font-size: 4em;
    color: #007765;
    text-align: center;
}
ul{
    text-align: center;
}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
/**/
figure{
    margin: 0;
    padding: 0;
}
/**/
.head{
    background-image: url("/images/head.png");
    height: 65vh;
    background-repeat: no-repeat;
}
.head h2{
    position: absolute;
    top: 40vh;
    left: 28vw;
    margin: auto;
    color: #FFFFFF;
    font-size: 4.5em;
}
/*Боди текст-проблем*/
.text-problem{
    margin: auto 4.43% 3.5em 4.51%;
}
p{
    font-size: 2em;
}
.body-img{
    background-image: url("/images/body_1.png");
    height: 483px;
    background-repeat: no-repeat;
}
.body-img h2{
    position: relative;
    top: 25%;
    margin: auto 13.4% auto 13.4%;
    font-size: 3em;
    color: #FFFFFF;
    font-style: italic;
    text-align: center;
}
.intro-pied{

}